export("microarrayColors")
export("computeExprColors")
export("loadSVG")
export("mapDataSVG")
export("saveSVG")
export("setStyleSVG")
export("getStyleSVG")
export("setAttributeSVG")
export("getAttributeSVG")
export("getLabelsSVG")
export("showSVG")
export("devSVGMapping")
export("dev.off")
export("includeSVG")
export("addScriptSVG")
export("setTextSVG")
