<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>kLinkSourceGUID</key>
		<string>48EE832C-A6FE-4F9E-9A9D-5C882965D725</string>
		<key>kLinkTargetGUID</key>
		<string>5D1E846B-C90B-49DE-B151-AD9AF0DF04B4</string>
		<key>kLinkType</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>kLinkSourceGUID</key>
		<string>CF01906F-982D-459B-A826-B22A75740E99</string>
		<key>kLinkTargetGUID</key>
		<string>A9DF2437-3D06-4FD7-88F5-B5AD9EA8D3E6</string>
		<key>kLinkType</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>kLinkSourceGUID</key>
		<string>CF01906F-982D-459B-A826-B22A75740E99</string>
		<key>kLinkTargetGUID</key>
		<string>C777499E-91F1-4D09-99A4-C73FDDA375F9</string>
		<key>kLinkType</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>kLinkSourceGUID</key>
		<string>CF01906F-982D-459B-A826-B22A75740E99</string>
		<key>kLinkTargetGUID</key>
		<string>5D1E846B-C90B-49DE-B151-AD9AF0DF04B4</string>
		<key>kLinkType</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>kLinkSourceGUID</key>
		<string>C777499E-91F1-4D09-99A4-C73FDDA375F9</string>
		<key>kLinkTargetGUID</key>
		<string>A9DF2437-3D06-4FD7-88F5-B5AD9EA8D3E6</string>
		<key>kLinkType</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>kLinkSourceGUID</key>
		<string>B70AD4D9-6BEE-4E56-B828-26C92C7A6F38</string>
		<key>kLinkTargetGUID</key>
		<string>5D1E846B-C90B-49DE-B151-AD9AF0DF04B4</string>
		<key>kLinkType</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>kLinkSourceGUID</key>
		<string>5D1E846B-C90B-49DE-B151-AD9AF0DF04B4</string>
		<key>kLinkTargetGUID</key>
		<string>48EE832C-A6FE-4F9E-9A9D-5C882965D725</string>
		<key>kLinkType</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>kLinkSourceGUID</key>
		<string>5D1E846B-C90B-49DE-B151-AD9AF0DF04B4</string>
		<key>kLinkTargetGUID</key>
		<string>B70AD4D9-6BEE-4E56-B828-26C92C7A6F38</string>
		<key>kLinkType</key>
		<integer>8</integer>
	</dict>
</array>
</plist>
